{{ question }}
<br>
<hr>
<form action="/polls/{{ num }}/vote/" method="post">
    <input type="submit"> <!-- submit버튼 / 서버로 데이터 전송 -->
    <!-- 서버와의 통신에 필요한 보안키(토큰)-->
    {% csrf_token %}

    <ul>
    {% for c in choice %}
        <li>
            <!-- radio 그룹화 -->
            <input type="radio" name="select"
            value = "{{ c.id }}">
            {{ c.choice_text }}
        </li>
    {% endfor %}
    </ul>
</form>
<!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSothKOGAJjyHUcxj9QRQxhcaOkoc9LZyGEYHbf8gmnc7Q5xw2a">-->
